/* Importar secciones */
@import url("./sections/navbar.css");
@import url("./sections/hero.css");
@import url("./sections/about.css");
@import url("./sections/projects.css");
@import url("./sections/contact.css");
@import url("./sections/skills.css");
@import url("./sections/footer.css");

/* Variables globales */
:root {
  --dark-blue: #072d44;
  --medium-blue: #064469;
  --light-blue: #5790ab;
  --pale-blue: #9cccdb;
  --gray-blue: #d0d7e1;
  --butter-yellow: #f3d77f;
  --white: #fcfbf9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  color: var(--dark-blue);
  background: var(--white);
}
