/* ========================= */
/* Sección Hero */
/* ========================= */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribuye contenido arriba y abajo */
  align-items: center;
  text-align: center;
  background: linear-gradient(
      to right,
      rgba(7, 45, 68, 0.9),
      rgba(6, 68, 105, 0.9)
    ),
    url("../../assets/images/hero-background.jpg") no-repeat center center/cover;
  padding: 20px;
  color: var(--white);
}

.hero-content {
  flex-grow: 1; /* Expande el espacio para centrar verticalmente */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  color: var(--white);
  text-transform: capitalize;
  font-weight: bold;
}

.hero-content h2 {
  font-size: 1.5rem;
  color: var(--butter-yellow);
  margin: 0;
  font-weight: normal;
}

/* Contenedor de iconos */
.hero-icons {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.hero-icons img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease-in-out;
}

.hero-icons img:hover {
  transform: scale(1.1);
}

/* ===========================
   Estilos para tablets
=========================== */
@media (max-width: 1024px) {
  .hero-content h1 {
    font-size: 2.5rem; /* Reduce el tamaño del título */
  }

  .hero-content h2 {
    font-size: 1.3rem; /* Ajusta el subtítulo */
  }

  .hero-icons img {
    width: 35px;
    height: 35px;
  }
}

/* ===========================
   Estilos para móviles
=========================== */
@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2rem; /* Ajusta el tamaño del título */
  }

  .hero-content h2 {
    font-size: 1.2rem; /* Ajusta el tamaño del subtítulo */
  }

  .hero-icons {
    gap: 15px; /* Menor espacio entre iconos */
  }

  .hero-icons img {
    width: 30px;
    height: 30px;
  }
}
