/* ========================= */
/* Sección Hero */
/* ========================= */

.hero {
  position: relative; /* Para permitir posicionar elementos dentro */
  height: 100vh;
  background: linear-gradient(
      to right,
      rgba(7, 45, 68, 0.9),
      rgba(6, 68, 105, 0.9)
    ),
    url("../../assets/images/hero-background.jpg") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--white);
  padding: 0 20px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  z-index: 2; /* Asegura que se mantenga sobre el fondo */
}

.hero-content h1 {
  font-size: 5rem;
  margin-bottom: 5px;
  color: var(--white);
  text-transform: capitalize;
  font-weight: bold;
}

.hero-content h2 {
  font-size: 1.5rem;
  color: var(--butter-yellow);
  margin: 10px 0;
  font-weight: normal; /* Quita negritas */
}

/* Contenedor de iconos en Hero */
.hero-icons {
  position: absolute; /* Para colocarlo en la parte baja */
  bottom: 20px; /* Distancia desde el borde inferior */
  left: 50%; /* Centrar horizontalmente */
  transform: translateX(-50%); /* Ajustar el centrado */
  display: flex;
  gap: 40px;
  justify-content: center;
  z-index: 2; /* Asegura que se vea sobre el fondo */
}

.hero-icons img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease-in-out;
}

.hero-icons img:hover {
  transform: scale(1.1); /* Efecto de agrandamiento */
}

/* ===========================
   Estilos para tablets
=========================== */
@media (max-width: 1024px) {
  .hero-content h1 {
    font-size: 4rem; /* Reduce el tamaño del título */
  }

  .hero-content h2 {
    font-size: 1.3rem; /* Ajusta el subtítulo */
  }

  .hero-icons img {
    width: 35px; /* Iconos ligeramente más pequeños */
    height: 35px;
  }
}

/* ===========================
   Estilos para móviles
=========================== */
@media (max-width: 768px) {
  .hero {
    padding: 0 15px; /* Reduce el padding general */
  }

  .hero-content h1 {
    font-size: 3rem; /* Ajusta el tamaño del título */
  }

  .hero-content h2 {
    font-size: 1.2rem; /* Ajusta el tamaño del subtítulo */
  }

  .hero-icons img {
    width: 30px; /* Iconos más pequeños */
    height: 30px;
  }

  .hero-icons {
    gap: 15px; /* Menor espacio entre iconos */
  }
}
